/*------------Variables---------------*/
$brandprimary: #d96528;
$brandsecondary: #03c1c1;

@import './scss/nav.scss';
@import './scss/Boxes.scss';
@import './scss/TextLockUp.scss';
@import './scss/featuredProducts.scss';
@import './scss/footer.scss';
@import './scss/footerlinks.scss';
@import './scss/storegrid.scss';
@import './scss/slider.scss';
@import './scss/product.scss';
@import './scss/cartsteps.scss';


/*------------Global---------------*/
body {
  border: 10px solid #ccc;
  min-height: 100vw;
  font-family: Montserrat, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif;
  font-size: 16px;
  line-height: 1.4;
  word-spacing: 1px;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
   
}


main {
  padding: 0;
  width: 95vw;
  margin-left: 2vw;
}

h1,
h2,
h3 {
  font-family: "pt serif", -apple-system, blinkmacsystemfont, 
  'segoe ui', roboto, oxygen, ubuntu, cantarell, 'open sans', 'helvetica neue', sans-serif;
  font-weight: normal;
}

h1 {
  font-size: 40px;
}

p {
  margin: 20px 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
}

a,
a:active,
a:visited {
  color: $brandprimary;
  text-decoration: none;
  transition: 0.3s all ease;
}

button {
  border: 1px solid #ccc;
  background: white;
  padding: 10px 14px;
  cursor: pointer;
  color: black;
  font-weight: 700;
  font-family: "Monteserrat", -apple-system, BlinkMacSystemFont,
   'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  transition: 0.3s all ease;
  &:hover {
    background: black;
    border: 1px solid black;
    color: white;
  }
}

button.purchase {
  background: $brandprimary;
  color: white;
  font-size: 16px;
  border: none;
  &:hover {
    background: #c14103;
  }
}

button.pay-with-stripe {
  background: black;
  color: white;
  font-size: 16px;
  border: none;
  &:hover {
    background: #c14103;
  }
}

.price {
  color: $brandprimary;
  font-size: 20px;
  margin: 5px 0;
  font-weight: normal;
  font-family: "pt serif", -apple-system, blinkmacsystemfont, 
  'segoe ui', roboto, oxygen, ubuntu, cantarell, 'open sans', 'helvetica neue', sans-serif;

}

hr {
  border-top: 1px solid #eee;
  margin: 30px 0;
}

label {
  font-weight: 600;
  text-transform: uppercase;
  font-size: 14px;
  letter-spacing: 0.1em;
  margin-top: 20px;
  display: inline-block;
}

input {
  font-family: "monteserrat", -apple-system, blinkmacsystemfont,
   'segoe ui', roboto, oxygen, ubuntu, cantarell, 'open sans', 'helvetica neue', sans-serif;
  font-size: 16px;
  padding: 5px 10px;
}

.center {
  text-align: center;
}

/*---------------Store Grid----------------*/

.storegrid {
  width: 95%;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 0px;
}

aside {
  float: left;
  width: 19.1489%;
}

.content {
  /*no grid suppport*/
  float: right;
  width: 79.7872%;
  /* grid */
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  padding: 0 !important;
}

@media (max-width: 600px) {
  aside {
    width: 100% !important;
    margin-bottom: 10px !important;
  }

  .content {
    width: 100% !important;
    grid-template-columns: 1fr !important;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  .content {
    grid-template-columns: repeat(2, 1fr) !important;
  }

}

@media screen and (max-width: 550px) {
  .storegrid {
    width: 90%;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 10px;
  }

}



/*---------Nav related style--------*/



@media screen and (max-width: 850px) {
  h1 {
    margin: 0
  }

  nav ul li {
    padding: 0 5px !important;
    border-left: none !important;
    border-right: none !important;
  }
}

/*-----------main-----------------*/
@media screen and (min-width: 1000px) {
  main {
    padding: 40px;
    width: 80vw;
    margin-left: 7vw;
  }
}


