
   .boxes {
     margin: 70px 0;
     div {
       border: 1px solid #ddd;
       min-height: 150px;
       justify-self: center;
       align-self: center;
       text-align: center;
     } 

     .box1 {
       grid-area: 1 / 1 / 2 / 2;
     }
     .box2 {
       grid-area: 1 / 2 / 2 / 3;
     }
     .box3 {
       grid-area: 1 / 3 / 2 / 4
     }
    }

   h4 {
     text-transform: uppercase;
     letter-spacing: 0.15em; 
     margin: 0 0 10px 0;
    }