.featuredproducts {
    margin-top: 60px;
    
    h2 {
        color: #d96528;
        text-align: center;
        overflow: hidden;
        
        span {
            display: inline-block;
            position: relative;



        }

    }
}