.item-contain {
    margin-left: 8%;
    width: 80%;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr 2fr;
}

input {
    width: 60px;
    font-size: 25px;
    margin: 0 10px;
    padding: 5px 10px;
}

.update-num {
    background: black;
    border-color: black;
    color: white;
    font-size: 20px;
    width: 45px;
}

.quantity {
    display: flex;
}

@media screen and (max-width: 650px) {
    .img img {
        width: 100%;
    }

    .item-contain {
        margin-left: 0 !important;
        width: 95% !important;
    }

    .review {
        width: 90%;
        margin-left: 4%;
    }
}